* {
	color: var(--textColor);
	font-family: "Noto Sans", "Noto Serif TC", "Noto Serif SC", "Noto Serif JP", "Noto Serif KR", sans-serif;
	margin: 0;
	padding: 0;
	transition: background-color 0.2s, box-shadow 0.2s, color 0.2s, opacity 0.2s, text-shadow 0.2s;
	user-select: none;
}

:root {
	--backgroundColor: #FFFFFF;
	--backgroundHover: #EEEEEE;
	--boxBorder: #DDDDDD;
	--textColorDisabled: #BBBBBB;
	--textColorGray: #666666;
	--textColor: #000000;
	--backgroundColorTransparent: rgba(255, 255, 255, 0.8);
}

.dark-mode {
	--backgroundColor: #222222;
	--backgroundHover: #444444;
	--boxBorder: #555555;
	--textColorDisabled: #666666;
	--textColorGray: #BBBBBB;
	--textColor: #FFFFFF;
	--backgroundColorTransparent: rgba(0, 0, 0, 0.8);
}

html, body {
	height: 100%;
}

label {
	display: none;
}

input {
	background-color: transparent;
	border: none;
	font-size: 1em;
	outline-width: 0;
	text-align: left;
}

#loading.material-symbols-outlined {
	align-items: center;
	background-color: var(--backgroundColor);
	color: var(--textColorDisabled);
	display: flex;
	font-size: 4em;
	justify-content: center;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

#container-main {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

#container-labels {
	left: 0;
	top: 0;
	position: absolute;
}

#container-labels > div {
	position: absolute;
	text-align: center;
}

.panel {
	background-color: var(--backgroundColor);
	box-shadow: 0 0 0.5em var(--textColor);
	left: 0;
	top: 0;
	padding: 1em;
	position: absolute;
	width: 0;
}

.clickable {
	cursor: pointer;
}

.clickable:hover {
	background-color: var(--backgroundHover);
}

.clickable.selected {
	background-color: var(--boxBorder);
}

.clickable.selected:hover {
	background-color: var(--textColorDisabled);
}

.spacer {
	background-color: var(--boxBorder);
	height: 1px;
	margin: 0.5em 0;
}

.one-row {
	align-items: center;
	column-gap: 0.5em;
	display: flex;
}

.push-right {
	margin-left: auto;
}

.text-box {
	width: 100%;
}

.station-name {
	font-size: 0.6em;
	font-weight: 600;
	line-height: 1.2em;
	user-select: none;
	white-space: nowrap;
	text-shadow: -2px -2px 0 var(--backgroundColor),
	0 -2px 0 var(--backgroundColor),
	2px -2px 0 var(--backgroundColor),
	2px 0 0 var(--backgroundColor),
	2px 2px 0 var(--backgroundColor),
	0 2px 0 var(--backgroundColor),
	-2px 2px 0 var(--backgroundColor),
	-2px 0 0 var(--backgroundColor);
}

.station-name.material-symbols-outlined {
	font-size: 1.2em;
}

.station-name.cjk {
	font-size: 1.2em;
}
