.p-accordionpanel {
	--p-accordion-panel-border-width: 0;
}

.big-icon {
	font-size: 4rem;
	height: 4rem;
}

.gray {
	color: var(--light-color);
}

.no-wrap {
	white-space: nowrap;
}

.intermediate-stations {
	padding-left: 8px;
	padding-top: 18px;
}
