<div class="column wrapper" [formGroup]="formGroup">
	<div class="column padding-sides">
		<div class="row gap-small center">
			<div class="column gap-small spacing">
				<app-search label="Start Station" [parentFormGroup]="formGroup" childFormControlName="startStation" [includeRoutes]="false" (stationClicked)="onClickStation($event, true)" (textCleared)="onClickStation(undefined, true)"/>
				<app-search label="End Station" [parentFormGroup]="formGroup" childFormControlName="endStation" [includeRoutes]="false" (stationClicked)="onClickStation($event, false)" (textCleared)="onClickStation(undefined, false)"/>
			</div>
			<p-button icon="pi pi-arrow-right-arrow-left" [rounded]="true" [text]="true" (click)="swapStations()" [disabled]="cannotSwap()" pTooltip="Swap Stations"/>
		</div>
		<p-divider/>
		<div class="column gap-small">
			<p-float-label variant="in">
				<p-input-number inputId="max-walking-distance" formControlName="maxWalkingDistance" min="0" max="1000000000" (onInput)="updateMaxWalkingDistance()" [fluid]="true"/>
				<label for="max-walking-distance">Maximum Walking Distance (m)</label>
			</p-float-label>
			<div class="row center">
				<div class="row gap-small center">
					<p-checkbox inputId="refresh" [binary]="true" formControlName="automaticRefresh"/>
					<label for="refresh">Automatic Refresh</label>
				</div>
				<div class="spacing"></div>
				<p-button icon="pi pi-refresh" [rounded]="true" [text]="true" (click)="refreshDirections()" [disabled]="cannotManuallyRefresh()" pTooltip="Refresh Directions"/>
			</div>
		</div>
	</div>
	@if (isLoading()) {
		<div class="column center wrapper">
			<div class="spacing"></div>
			<p-progress-spinner/>
			<div class="spacing"></div>
		</div>
	} @else {
		@if (isValid() && getDirections().length === 0) {
			<div class="column center wrapper">
				<div class="spacing"></div>
				<div class="material-icons big-icon">remove_road</div>
				<div>No directions found.</div>
				<div class="spacing"></div>
			</div>
		} @else {
			<div class="column padding-sides content">
				@for (direction of getDirections(); track $index) {
					<app-route-display [colorAbove]="$index === 0 ? undefined : getRouteColor($index - 1)" [colorBelow]="getRouteColor($index)" [isStation]="true" [icons]="[]">
						<div class="row center">
							<app-data-list-entry class="spacing" [icons]="[]" [title]="[getStationName(direction.startPosition, direction.startRoutePlatform), '']" [subtitles]="[[getPlatformName(direction.startRoutePlatform), '']]" [useLightColor]="false" [clickable]="false"/>
							<div class="gray no-wrap">{{ direction.startTime | formatDate }}</div>
						</div>
					</app-route-display>
					<app-route-display [colorAbove]="getRouteColor($index)" [colorBelow]="getRouteColor($index)" [isStation]="false" [icons]="[{icon: direction.route ? direction.icon : sameStation(direction) ? 'transfer_within_a_station' : 'directions_walk', offset: 0}]">
						@if (direction.route) {
							<div class="row center">
								<app-data-list-entry class="spacing" [icons]="[getCircularIcon(direction.route)]" [title]="[getRouteName(direction.route), '']" [subtitles]="[[getRouteDestination(direction.route), '']]" [useLightColor]="true" [clickable]="false"/>
								<div class="row center gray">
									<div class="material-icons">schedule</div>
									<div>&nbsp;{{ getDuration(direction) }}</div>
								</div>
							</div>
						} @else {
							<div class="row center">
								<app-data-list-entry class="spacing" [icons]="[]" [title]="[getDistanceLabel(direction), '']" [subtitles]="[]" [useLightColor]="true" [clickable]="false"/>
								<div class="row center gray">
									<div class="material-icons">schedule</div>
									<div>&nbsp;{{ getDuration(direction) }}</div>
								</div>
							</div>
						}
					</app-route-display>
					@if (direction.intermediateRoutePlatforms.length > 0) {
						<app-route-display [colorAbove]="getRouteColor($index)" [colorBelow]="getRouteColor($index)" [isStation]="false" [icons]="[]">
							<p-accordion [multiple]="true" value="0">
								<p-accordion-panel>
									<p-accordion-header>{{ direction.intermediateRoutePlatforms.length }} intermediate station{{ direction.intermediateRoutePlatforms.length > 1 ? 's' : '' }}</p-accordion-header>
									<p-accordion-content>
										<div class="column gap-small">
											@for (intermediateRoutePlatform of direction.intermediateRoutePlatforms; track $index) {
												<div>{{ intermediateRoutePlatform.station.name | formatName }}</div>
											}
										</div>
									</p-accordion-content>
								</p-accordion-panel>
							</p-accordion>
						</app-route-display>
					}
					@if ($index === $count - 1) {
						<app-route-display [colorAbove]="getRouteColor($index)" [colorBelow]="undefined" [isStation]="true" [icons]="[]">
							<div class="row center">
								<app-data-list-entry class="spacing" [icons]="[]" [title]="[getStationName(direction.endPosition, direction.endRoutePlatform), '']" [subtitles]="[[getPlatformName(direction.endRoutePlatform), '']]" [useLightColor]="false" [clickable]="false"/>
								<div class="gray no-wrap">{{ direction.endTime | formatDate }}</div>
							</div>
						</app-route-display>
					}
				}
			</div>
		}
	}
</div>
