<div class="column margin">
	<div>
		<app-search label="Set Origin Station..." (onClickStation)="setOrigin($event)" [selected]="directionsService.getOriginStation()?.name ?? '' | formatName" />
		<app-search label="Set Destination Station..." (onClickStation)="setDestination($event)" [selected]="directionsService.getDestinationStation()?.name ?? '' | formatName" />
	</div>
	<div class="column center" *ngIf="isLoading()">
		<mat-spinner/>
	</div>
	<div *ngFor="let directionsSegment of getDirections()">
		<div class="row gap-small center">
			<div class="station"></div>
			<div>{{ directionsSegment.startStationName | formatName }}</div>
			<div class="spacing"></div>
			<div>{{ directionsSegment.time | formatDate }}</div>
		</div>
		<div class="row gap-small center" *ngIf="directionsSegment.getTotalDuration() > 0">
			<div class="line {{ directionsSegment.routeId === 0 ? 'thin' : '' }}" [style.background-color]="directionsSegment.routeId === 0 ? '' : directionsSegment.routeColor | formatColor"></div>
			<mat-icon>schedule</mat-icon>
			<div class="subtitle">{{ directionsSegment.getTotalDuration() | formatTime: "" }}</div>
		</div>
		<div class="row gap-small center" *ngFor="let intermediateStation of directionsSegment.intermediateStations">
			<div class="line {{ directionsSegment.routeId === 0 ? 'thin' : '' }}" [style.background-color]="directionsSegment.routeId === 0 ? '' : directionsSegment.routeColor | formatColor"></div>
			<div class="subtitle">{{ intermediateStation | formatName }}</div>
		</div>
	</div>
	<div *ngIf="getDirections().length == 0 && !isLoading()">
		<p class="note">No direction found.</p>
	</div>
</div>
