.clickable {
	cursor: pointer;
	transition: background-color 0.2s;
}

.icon {
	margin: 0;
}

.clickable:hover {
	background-color: rgba(127, 127, 127, 10%);
}

.title {
	font-weight: bold;
}

.subtitle {
	font-size: 0.6em;
}

.light-color {
	color: rgba(127, 127, 127, 80%);
}

.color {
	border-left: 4px solid;
	padding-left: 4px;
}

.align-right {
	text-align: right;
}
