.station-name {
	font-family: "Noto Sans", "Noto Serif TC", "Noto Serif SC", "Noto Serif JP", "Noto Serif KR", sans-serif;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}

.station-name.cjk {
	font-size: 3em;
}

.station-color-bar {
	border-radius: 0.2em;
	height: 0.4em;
}

.chip {
	--mdc-chip-outline-color: transparent;
}

.chip-text {
	font-size: 0.8em;
	line-height: 1.2em;
}
