<ion-app>
	<ion-split-pane contentId="main-content" when="md" [disabled]="!showSplitPane()">
		<ion-menu contentId="main-content" side="end">
			<ion-header>
				<ion-toolbar>
					<ion-buttons slot="end">
						@if (canGoBack()) {
							<ion-back-button defaultHref="/home"/>
						} @else {
							<ion-button (click)="closePanel()">
								<ion-icon name="close"/>
							</ion-button>
						}
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content>
				<ion-router-outlet/>
			</ion-content>
		</ion-menu>
		<div class="ion-page" id="main-content">
			<app-map/>
			@if (!showSplitPane()) {
				<ion-fab vertical="bottom" horizontal="end">
					<ion-fab-button color="light" (click)="openPanel()">
						<ion-icon name="menu"/>
					</ion-fab-button>
				</ion-fab>
			}
		</div>
	</ion-split-pane>
</ion-app>
