* {
	font-family: "Noto Sans", "Noto Serif TC", "Noto Serif SC", "Noto Serif JP", "Noto Serif KR", sans-serif;
	margin: 0;
	user-select: none;
}

:root {
	--backgroundColor: #FFFFFF;
	--backgroundHover: #EEEEEE;
	--boxBorder: #DDDDDD;
	--textColorDisabled: #BBBBBB;
	--textColorGray: #666666;
	--textColor: #000000;
}

.dark-theme {
	--backgroundColor: #222222;
	--backgroundHover: #444444;
	--boxBorder: #555555;
	--textColorDisabled: #666666;
	--textColorGray: #BBBBBB;
	--textColor: #FFFFFF;
}

html, body {
	height: 100%;
	margin: 0;
}

#container {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

#canvas {
	display: block;
	width: 100%;
	height: 100%;
}

#labels {
	color: var(--textColor);
	left: 0;
	position: absolute;
	top: 0;
}

#labels > div {
	cursor: pointer;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	user-select: none;
	white-space: nowrap;
	text-shadow: -2px -2px 0 var(--backgroundColor),
	0 -2px 0 var(--backgroundColor),
	2px -2px 0 var(--backgroundColor),
	2px 0 0 var(--backgroundColor),
	2px 2px 0 var(--backgroundColor),
	0 2px 0 var(--backgroundColor),
	-2px 2px 0 var(--backgroundColor),
	-2px 0 0 var(--backgroundColor);
}
