mat-chip-option {
	border: 2px solid;
	box-sizing: border-box;
}

.station-name {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.station-name.cjk {
	font-size: 3em;
}

.station-color-bar {
	border-radius: 0.2em;
	height: 0.4em;
}

.route-color-bar {
	border-radius: 0.25em;
	min-width: 3em;
	height: 0.5em;
}

.chip-wrapper {
	overflow: hidden;
}

.chip-text {
	font-size: 0.8em;
}

.title {
	font-weight: bold;
}

.subtitle {
	font-size: 0.6em;
}

.align-right {
	text-align: right;
}
