mat-chip-option {
	border: 2px solid;
	box-sizing: border-box;
}

.station-name {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.station-name.cjk {
	font-size: 3em;
}

.station-color-bar {
	border-radius: 0.2em;
	height: 0.4em;
}

.route-color-bar {
	border-radius: 0.25em;
	min-width: 3em;
	height: 0.5em;
}

.chip-wrapper {
	overflow: hidden;
}

.chip-text {
	font-size: 0.8em;
	line-height: 1.2em;
}

.arrival {
	cursor: pointer;
	padding: 0.4em 0;
	transition: background-color 0.2s;
}

.arrival:hover {
	background-color: rgba(127, 127, 127, 10%);
}

.title {
	font-weight: bold;
}

.subtitle {
	font-size: 0.6em;
}

.arrival-color {
	border-left: 4px solid;
	padding-left: 4px;
}

.align-right {
	text-align: right;
}
