<div class="column gap wrapper">
	<div class="column gap padding-sides">
		<div class="column">
			@for (stationNamePart of getStation()?.name | splitName; track $index) {
				<div class="station-name {{stationNamePart.isCjk ? 'cjk' : ''}}">{{ stationNamePart.text }}</div>
			}
		</div>
		<div class="station-color-bar" [style.background-color]="'#' + getStation()?.color"></div>
		<div class="row gap-small center">
			<div class="row gap center" matTooltip="Location">
				<mat-icon>my_location</mat-icon>
				<div>({{ getCoordinatesText() }})</div>
			</div>
			<button mat-icon-button (click)="copyLocation(copyIconButton)" matTooltip="Copy Location">
				<mat-icon #copyIconButton>content_copy</mat-icon>
			</button>
		</div>
		<div class="row gap center">
			<div class="row gap center" matTooltip="Fare Zones">
				<mat-icon>sell</mat-icon>
				<div>({{ getZoneText() }})</div>
			</div>
		</div>
		<mat-divider/>
		<div class="row gap-small center">
			<mat-icon matTooltip="Directions">directions</mat-icon>
			<button mat-button class="grayscale" (click)="setDirectionsOrigin()">Set as Origin</button>
			<button mat-button class="grayscale" (click)="setDirectionsDestination()">Set as Destination</button>
		</div>
		<mat-divider/>
	</div>

	@if (isLoading()) {
		<div class="column center">
			<br/>
			<mat-spinner class="grayscale"/>
		</div>
	}
	<div class="content">
		<div class="column gap-small padding-sides">
			<mat-chip-listbox class="chip" #chipList aria-label="Routes" multiple>
				@for (route of getActiveRoutes(); track $index) {
					<mat-chip-option [style.box-shadow]="'0 0 0 2px ' + (route.color | formatColor) + ' inset'" [style.height]="(route.lineCount + 1) + 'em'" [id]="route.key">
						<div class="row gap-small center">
							<mat-icon>{{ route.typeIcon }}</mat-icon>
							<div class="column chip-text">
								@for (name of route.name | splitName; track $index) {
									<div>{{ name.text }}</div>
								}
							</div>
							@if (route.number !== '') {
								<mat-divider vertical [style.height]="route.lineCount + 'em'"/>
							}
							@if (route.number !== '') {
								<div class="column chip-text">
									@for (number of route.number | splitName; track $index) {
										<div>{{ number.text }}</div>
									}
								</div>
							}
						</div>
					</mat-chip-option>
				}
			</mat-chip-listbox>
			<mat-checkbox class="grayscale" #showTerminatingCheckbox [style.display]="getHasTerminating() ? '' : 'none'">Show Terminating</mat-checkbox>

			<div class="column arrivals">
				@for (arrival of getArrivals(chipList, showTerminatingCheckbox); track $index) {
					<div class="column">
						<mat-divider/>
						<div matRipple class="column arrival clickable {{arrival.realtime ? '' : 'scheduled'}}" (click)="showDetails(arrival)">
							<div class="row gap center title arrival-color" [style.border-left-color]="arrival.routeColor | formatColor">
								<div class="row center">
									<mat-icon>{{ arrival.routeTypeIcon }}</mat-icon>
									@if (arrival.circularState !== 'NONE') {
										<mat-icon>{{ arrival.circularState === "CLOCKWISE" ? "rotate_right" : "rotate_left" }}</mat-icon>
									}
									<div>{{ arrival.destination | formatName }}</div>
								</div>
								<div class="spacing"></div>
								<div class="align-right">{{ arrival.getArrivalTime() | formatTime : "Arrived" }}</div>
							</div>
							<div class="row gap center subtitle arrival-color" [style.border-left-color]="arrival.routeColor | formatColor">
								<div>{{ arrival.routeName | formatName }} {{ arrival.routeNumber | formatName }}</div>
								<div class="spacing"></div>
								<div class="align-right">{{ arrival.isContinuous ? "Every 8 Seconds" : arrival.arrival | formatDate }}</div>
							</div>
							<div class="row gap center subtitle arrival-color" [style.border-left-color]="arrival.routeColor | formatColor">
								<div>Platform {{ arrival.platformName }}</div>
								<div class="spacing"></div>
								@if (!arrival.isContinuous) {
									<div class="align-right">{{ arrival.getDeviation() | formatTime :"" }} {{ arrival.getDeviationString() }}</div>
								}
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
