.clickable {
	cursor: pointer;
	transition: background-color 0.2s;
}

.clickable:hover {
	background-color: rgba(127, 127, 127, 10%);
}

.station-name {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

.station-name.cjk {
	font-size: 3em;
}

.station-color-bar {
	border-radius: 0.2em;
	height: 0.4em;
}

.route-color-bar {
	border-radius: 0.25em;
	min-width: 3em;
	height: 0.5em;
}

.chip {
	--mdc-chip-outline-color: transparent;
}

.chip-text {
	font-size: 0.8em;
	line-height: 1.2em;
}

.arrival {
	padding: 0.4em 0;
}

.title {
	font-weight: bold;
}

.subtitle {
	font-size: 0.6em;
}

.scheduled {
	color: rgba(127, 127, 127, 50%);
}

.arrival-color {
	border-left: 4px solid;
	padding-left: 4px;
}

.align-right {
	text-align: right;
}
