<div class="column gap wrapper" [formGroup]="formGroup">
	<div class="column gap-small padding-sides">
		<app-search label="Search for anything..." [parentFormGroup]="formGroup" childFormControlName="search" [includeRoutes]="true" (stationClicked)="clickStation($event)" (routeClicked)="clickRoute($event)"/>
		<p-float-label variant="in">
			<p-select inputId="dropdown" formControlName="dimension" [options]="getDimensions()" (onChange)="setDimension()" [fluid]="true"/>
			<label for="dropdown">Dimension</label>
		</p-float-label>
	</div>
	<div class="column content">
		<div class="column padding-sides">
			<div class="column gap-small">
				@for (routeType of routeTypes; track $index) {
					<div class="row gap center">
						<div class="material-icons">{{ routeType[1].icon }}</div>
						<div class="shrink spacing">{{ routeType[1].text }}</div>
						<app-visibility-toggle [routeType]="routeType[0]"/>
					</div>
				}
			</div>
			@if (hasInterchanges()) {
				<p-divider/>
				<div class="row gap center">
					<div class="material-icons">polyline</div>
					<div class="shrink spacing">Interchange Style</div>
					<app-interchange-style-toggle/>
				</div>
			}
			<p-divider/>
			<div>
				<p-button (click)="directionsOpened.emit()">
					<div class="material-icons">directions</div>
					Directions
				</p-button>
			</div>
		</div>
		<div class="spacing"></div>
		<div class="row gap-small center padding-sides padding-top-bottom">
			<p-toggle-switch inputId="themeToggle" formControlName="themeToggle" (onChange)="changeTheme($event.checked)"/>
			<label for="themeToggle">Dark Theme</label>
		</div>
	</div>
</div>
