<div class="column gap">
	<mat-expansion-panel expanded>
		<mat-expansion-panel-header>
			<mat-panel-title>Layers</mat-panel-title>
			<mat-panel-description>
				This is a summary of the content
			</mat-panel-description>
		</mat-expansion-panel-header>

		<div class="column gap">
			<div class="row-reverse gap center" *ngFor="let routeType of getRouteTypes()">
				<mat-button-toggle-group>
					<mat-button-toggle>Hidden</mat-button-toggle>
					<mat-button-toggle>Solid</mat-button-toggle>
					<mat-button-toggle>Hollow</mat-button-toggle>
				</mat-button-toggle-group>
				<div class="spacing"></div>
			</div>
		</div>
	</mat-expansion-panel>
</div>
