.display-container {
	display: flex;
	position: relative;
	min-width: 40px;
}

.line {
	left: 30px;
	position: absolute;
	width: 6px;
}

.line.middle {
	height: 100%;
	top: 0;
}

.line.above {
	height: 50%;
	top: 0;
}

.line.below {
	bottom: 0;
	height: 50%;
}

.circle {
	border: 2px solid;
	border-radius: 7px;
	box-sizing: border-box;
	left: 26px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 14px;
	height: 14px;
}

.icon {
	position: absolute;
	width: 24px;
	height: 24px;
}

.icon.light {
	color: rgba(127, 127, 127, 50%);
}

.full {
	width: 100%;
}
