<app-side #sideDirections (closed)="onCloseDirections()">
	<app-side #sideStation (closed)="onCloseStation()">
		<app-side #sideMain>
			<app-map (stationClicked)="onClickStation($event, sideStation, sideDirections, false)"/>
			<button mat-fab class="button-corner" aria-label="Menu" (click)="sideMain.open()" matTooltip="Menu">
				<mat-icon>menu</mat-icon>
			</button>
			<div sidenav class="column gap wrapper">
				<app-search label="Search for anything..." [includeRoutes]="true" (stationClicked)="onClickStation($event, sideStation, sideDirections, true)"/>
				<app-panel class="wrapper"/>
			</div>
			<div title>{{ getTitle() }}</div>
		</app-side>
		<app-station sidenav (directionsOpened)="sideDirections.open()"/>
		<div title>Station Details</div>
	</app-side>
	<app-directions sidenav/>
	<div title>Directions</div>
</app-side>
