* {
	margin: 0;
	padding: 0;
	user-select: none;
}

canvas, .wrapper {
	position: absolute;
	transition: opacity 0.2s;
	width: 100%;
	height: 100%;
}

.labels {
	left: 0;
	top: 0;
	position: absolute;
}

.label {
	cursor: pointer;
	position: absolute;
	transition: color 0.2s;
	will-change: transform;
}

.label:hover {
	color: #777777;
}

.station-name {
	font-size: 0.6em;
	line-height: 1.2em;
	white-space: nowrap;
	text-shadow: -2px -2px 0 var(--mat-app-background-color),
	0 -2px 0 var(--mat-app-background-color),
	2px -2px 0 var(--mat-app-background-color),
	2px 0 0 var(--mat-app-background-color),
	2px 2px 0 var(--mat-app-background-color),
	0 2px 0 var(--mat-app-background-color),
	-2px 2px 0 var(--mat-app-background-color),
	-2px 0 0 var(--mat-app-background-color);
}

.station-name.cjk {
	font-size: 1.2em;
}

.station-name.text {
	font-family: "Noto Sans", "Noto Serif TC", "Noto Serif SC", "Noto Serif JP", "Noto Serif KR", sans-serif;
	font-weight: 600;
}


.station-name.icon {
	font-size: 1.2em;
	width: unset;
}

.loading-background {
	background-color: var(--mat-app-background-color);
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
}

.spinner {
	filter: grayscale(1);
}
