<div class="row center">
	<div class="display-container" [style.height]="(getHeight() + 4) + 'px'">
		@let colorAboveValue = colorAbove();
		@let colorBelowValue = colorBelow();
		@if (colorAboveValue === colorBelowValue) {
			@if (colorAboveValue === -1) {
				<div class="line thin middle"></div>
			} @else if (colorAboveValue !== undefined) {
				<div class="line middle" [style.background-color]="colorAboveValue | formatColor"></div>
			}
		} @else {
			@if (colorAboveValue === -1) {
				<div class="line thin above"></div>
			} @else if (colorAboveValue !== undefined) {
				<div class="line above" [style.background-color]="colorAboveValue | formatColor"></div>
			}
			@if (colorBelowValue === -1) {
				<div class="line thin below"></div>
			} @else if (colorBelowValue !== undefined) {
				<div class="line below" [style.background-color]="colorBelowValue | formatColor"></div>
			}
		}
		@if (isStation()) {
			<div class="circle" [style.border-color]="isDarkTheme() ? 'white' : 'black'" [style.background-color]="isDarkTheme() ? 'black' : 'white'"></div>
		}
		@for (icon of icons(); track $index) {
			<div [class]="'icon ' + (icon.offset === 0 ? '' : 'light')" [style.top]="(icon.offset + getHeight() / 2 - 12) + 'px'" [pTooltip]="icon.tooltip" tooltipPosition="left">
				<iconify-icon [icon]="icon.icon" aria-hidden="true"></iconify-icon>
			</div>
		}
	</div>
	<div class="full" #text>
		<ng-content/>
	</div>
</div>
